"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set ignorecase
set smartcase
set hlsearch
set gdefault
set visualbell
set noerrorbells

set surround
set commentary

" Don't use Ex mode, use Q for formatting.
map Q gq

""" Keybindings
imap jj <Esc>
let mapleader = " "
nmap <leader>fs :w<CR>
nmap <leader>fc :q<CR>
map <leader>le $
map <leader>lb 0
map <leader>lw ^
map <leader>sa ggVG
map <leader>tn :bnext<CR>
map <leader>tp :bprev<CR>
map <leader>so :source ~/.ideavimrc<CR>
nnoremap <Esc> :nohlsearch<CR>

" RIDER SHORTCUTS
nnoremap gh :action ShowErrorDescription<CR>
nmap <leader>ru :action Run<CR>
nnoremap <leader><leader> :action GotoAction<CR>
nnoremap <leader>. :action GotoFile<CR>

" Use System Clipboard
set clipboard+=unnamed

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
map <leader>de <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
