hr {
    color: #eeeeec !important;/**/
    background-color: #eeeeec !important;/**/
}
a,
a * {
    color: #3584e4 !important;/**/
}
* {
    color: #eeeeec !important;/**/
    background-color: #353535 !important;/**/
}
